[Desktop Entry]
Name=Netrek
Exec=/usr/games/netrek-client-cow
Icon=/usr/share/pixmaps/netrek-client-cow/icon.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;StrategyGame;
